# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst


# Spin
pan*

# Promela
examples/*/*/pml/

# binaries
parsergen/tplspin_parsergen
tplspin

# dub selection
dub.selections.json
parsergen/dub.selections.json
